{% extends 'base.html' %}

{% block title %}
    Editar empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <h1>Modificar empleado</h1>
            <div class="cell">

                <form class="grid-x grid-margin-x" method="POST">
                    <div class="large-6 cell">
                        <label>Nombres
                          
                          {{form.first_name}}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Apellidos
                          
                          {{form.last_name}}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>trabajo
                          
                          {{form.job}}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Departamento
                          
                          {{form.departamento}}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Hbilidades
                          
                          {{form.habilidad}}
                        </label>
                    </div>
                    <div class="cell">

                        <button type="submit" class="success button">Actualizar</button>
                    </div>
                    {% csrf_token %}
                
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

